{% extends 'header.html' %}
{% set title = "Dashboard" %}

{% block content %}
<h1 class="mb-4">Hari Yang Cerah, {{ username }}!</h1>
<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Data Diri</h5>
                <hr style="opacity:1;">
                <span class="card-text">Nama : {{ username }}</span><br>
                <span class="card-text">Email : {{ email }}</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
